
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #F3F3F1;
}

text {
  font-family: sans-serif;
}

.title {
  padding: 5px;
  text-align: center;
  font-size: 30px;
  color: black;
}

.caption {
  text-align: center;
  font-size: 1.0em;
  padding: 2px;
  font-weight: bold;
  color: #635F5D;
}

.dimensions {
  text-align: right;
  padding: 1px 30px
}

.chart {
  float: left;
  width: 66%;
  height: 80%;
  background-color: white;
  margin:0.5%;
  border-color: grey;
  border-style: solid;
  border-width: thin
}

.message {
  float: left;
  width: 25%;
  height:80%;
  margin:0.5%;
  padding: 10px;
  background-color: white;
}

.pagination {
  display: inline-block;
  float: left;
  font-size: 1.0em;
  fill: #635F5D;
  width: 100%;
  text-align: right;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #0047AB;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

.line-path {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-linecap: round;
  mix-blend-mode: multiply;
}

.chart-text text {
  font-size: 0.75rem;
  fill: #635F5D;
}

.tick text {
  font-size: 0.75rem;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 1.0em;
  fill: #635F5D;
  text-anchor: middle;
}

.title {
  font-size: 2.25em;
  fill: #635F5D;
}

.area {
  opacity: 0.70;
}

svg .annotation.callout.rect path.subject{
  fill-opacity: .1;
}

svg .annotation.callout.rect path.subject {
  fill: #546E7A;
  stroke: none;
  stroke-dasharray: 2, 8;
}

svg .annotation.rect text {
  fill: #546E7A;
  font-size: .8em;
}

.annotation text {
    fill: #546E7A;
    font-size: .8em;
}

.annotation-note-bg {
    fill: rgba(0, 0, 0, 0);
}

.annotation path {
    stroke: #546E7A;
    stroke-width: 3;
    fill: none;
}


/* styles for radio buttons */
/* Acknowlegement: W3Cschools.com */

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  padding-right: 20px;
  padding-top: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.9em;
  color: #635F5D;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: inline-block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 80%;
	background: white;
}
